body{
    text-align: center;
}
#omar{
    background-color: rgb(178, 34, 51);
}
#ah325{
    background-color: darkblue;
}
.hadeer{
    background-color: rgb(205, 11, 11);
}
.ahmed{
    background-color: rgb(118, 118, 130);
}